@import '../node_modules/@phosphor/dragdrop/style/index.css';
@import '../node_modules/@phosphor/widgets/style/index.css';
@import 'commandpalette.css';
@import 'content.css';
@import 'dockpanel.css';
@import 'menu.css';
@import 'menubar.css';
@import 'tabbar.css';


body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#menuBar {
  flex: 0 0 auto;
}


#main {
  flex: 1 1 auto;
}


#palette {
  min-width: 300px;
  border-right: 1px solid #DDDDDD;
}


#dock {
  padding: 4px;
}
