.p-Menu {
  padding: 3px 0px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #C0C0C0;
  font: 12px Helvetica, Arial, sans-serif;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}


.p-Menu-item.p-mod-active {
  background: #E5E5E5;
}


.p-Menu-item.p-mod-disabled {
  color: rgba(0, 0, 0, 0.25);
}


.p-Menu-itemIcon {
  width: 21px;
  padding: 4px 2px;
}


.p-Menu-itemLabel {
  padding: 4px 35px 4px 2px;
}


.p-Menu-itemMnemonic {
  text-decoration: underline;
}


.p-Menu-itemShortcut {
  padding: 4px 0px;
}


.p-Menu-itemSubmenuIcon {
  width: 16px;
  padding: 4px 0px;
}


.p-Menu-item[data-type='separator'] > div {
  padding: 0;
  height: 9px;
}


.p-Menu-item[data-type='separator'] > div::after {
  content: '';
  display: block;
  position: relative;
  top: 4px;
  border-top: 1px solid #DDDDDD;
}


.p-Menu-itemIcon::before,
.p-Menu-itemSubmenuIcon::before {
  font-family: FontAwesome;
}


.p-Menu-item.p-mod-toggled > .p-Menu-itemIcon::before {
  content: '\f00c';
}


.p-Menu-item[data-type='submenu'] > .p-Menu-itemSubmenuIcon::before {
  content: '\f0da';
}
