.DS_Store
node_modules
build
lib
tmp
*.log
.idea
.metadata
*.iml
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
errorShots
examples/*/src-gen
examples/*/gen-webpack.config.js
examples/*/gen-webpack.node.config.js
examples/*/.test
.browser_modules
**/docs/api
package-backup.json
.history
.Trash-*
packages/plugin/typedoc
plugins
gh-pages
.vscode/ipch
dev-packages/electron/compile_commands.json
*.tsbuildinfo
.eslintcache
scripts/download
dependency-check-summary.txt*
*-trace.json
.tours
/performance-result.json
*.vsix
/scripts/native-dependencies-*
allure-results
typedoc.tsconfig.json
