.DS_Store
node_modules
build
lib
*.log
.idea
.metadata
*.iml
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
errorShots
examples/*/src-gen
examples/*/webpack.config.js
.browser_modules
**/docs/api
package-backup.json
.history
.Trash-*
packages/plugin/typedoc
plugins
gh-pages
.vscode/ipch
dev-packages/electron/compile_commands.json
