.chat-view-widget {
    display: flex;
    flex-direction: column;
}

.chat-tree-view-widget {
    flex: 1;
}

.chat-input-widget>.ps__rail-x,
.chat-input-widget>.ps__rail-y {
    display: none !important;
}

.theia-ChatNode {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 20px;
    user-select: text;
    -webkit-user-select: text;
    border-bottom: 1px solid var(--theia-sideBarSectionHeader-border);
}

div:last-child>.theia-ChatNode {
    border: none;
}

.theia-ChatNodeHeader {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 100%;
}

.theia-ChatNodeHeader .theia-AgentAvatar {
    display: flex;
    pointer-events: none;
    user-select: none;
    font-size: 20px;
}

.theia-ChatNodeHeader .theia-AgentLabel {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.theia-ChatNodeHeader .theia-ChatContentInProgress {
    color: var(--theia-disabledForeground);
}

.theia-ChatNodeHeader .theia-ChatContentInProgress-Cancel {
    position: absolute;
    z-index: 999;
    right: 20px;
}

@keyframes dots {

    0%,
    20% {
        content: '';
    }

    40% {
        content: '.';
    }

    60% {
        content: '..';
    }

    80%,
    100% {
        content: '...';
    }
}

.theia-ChatNodeHeader .theia-ChatContentInProgress::after {
    content: '';
    animation: dots 1.0s steps(1, end) infinite;
}

.theia-ChatNode .codicon {
    text-align: left;
}

.theia-AgentLabel {
    font-weight: 600;
}

.theia-ChatNode .rendered-markdown p {
    margin: 0 0 16px;
}

.theia-ChatNode:last-child .rendered-markdown>:last-child {
    margin-bottom: 0;
}

.theia-ChatNode .rendered-markdown {
    line-height: 1.3rem;
}

.chat-input-widget {
    align-items: center;
    display: flex;
}

.chat-input-widget>div {
    width: 100%;
    padding: 12px 16px;
    align-items: end;
    display: flex;
    gap: 4px;
}

.chat-input-widget>div textarea {
    width: 100%;
    height: 36px;
    align-items: flex-end;
    background-color: var(--theia-input-background);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: text;
    display: flex;
    justify-content: space-between;
    padding: 8px 30px 6px 8px;
    position: relative;
    resize: none;
    overflow: hidden;
    line-height: 1.3rem;
}

.theia-ChatInputOptions {
    height: 23px;
    padding-bottom: 6px;
    align-items: center;
    position: absolute;
    z-index: 999;
    right: 20px;
    display: flex;
}

.theia-ChatInputOptions .option {
    width: 21px;
    height: 21px;
    margin-top: 2px;
    display: inline-block;
    box-sizing: border-box;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--theia-border-width) solid transparent;
    opacity: 0.7;
    cursor: pointer;
}

.theia-ChatInputOptions .option:hover {
    opacity: 1;
}

.theia-CodePartRenderer-root {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.theia-CodePartRenderer-left {
    flex-grow: 1;
}

.theia-CodePartRenderer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.theia-CodePartRenderer-right button {
    margin-left: 4px;
}

.theia-CodePartRenderer-separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.spinner {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}