.theia-FileStatIcon {
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 3px;
}

.theia-FileStatNode:not(.theia-DirNode) > .theia-TreeNodeCaption > .theia-FileStatIcon {
    background: url('../icons/path.svg') center center no-repeat;
}

.theia-FileStatNode.theia-DirNode > .theia-TreeNodeCaption > .theia-FileStatIcon {
    background: url('../icons/dir.svg') center center no-repeat;
}