.theia-notebook-cell-list {
    list-style: none;
    padding-left: 0px;
}

.theia-notebook-cell {
    cursor: grab;
    display: flex;
    margin: 10px 0px;
}

.theia-notebook-cell-marker {
    background-color: gray;
    width: 4px;
    margin: 0px 8px 0px 4px;
    border-radius: 4px;
}

.theia-notebook-cell-marker-selected {
    background-color: var(--theia-focusBorder);
}

.theia-notebook-cell-marker:hover {
    width: 8px;
    margin: 0px 4px 0px 4px;
}

.theia-notebook-cell-statusbar {
}

.theia-notebook-cell-content {
    flex: 1;
    width: 100%;
}

.theia-notebook-cell-editor {
    flex: 1;
    max-height: 500px;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.theia-notebook-cell-toolbar {
    border: 1px solid gray;
    display: flex;
    position: absolute;
    right: 0;
    margin: 10px;
    padding: 2px;
    background-color: var(--theia-editor-background);
}

.theia-notebook-cell-toolbar-item {
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.theia-notebook-cell-toolbar-item:hover {
    background-color: var(--theia-toolbar-hoverBackground);
}

.theia-notebook-cell-toolbar-item:active {
    background-color: var(--theia-toolbar-active);
}

.theia-notebook-cell-divider {
    height: 20px;
    width: 100%;
}

.theia-notebook-add-cell-buttons {
    justify-content: center;
    display: flex;
}

.theia-notebook-add-cell-button {
    border: 1px solid gray;
    background-color: var(--theia-editor-background);
    color: var(--theia-foreground);
    vertical-align: middle;
    text-align: center;
}

.theia-notebook-add-cell-button:hover {
    background-color: var(--theia-toolbar-hoverBackground);
}

.theia-notebook-add-cell-button:active {
    background-color: var(--theia-toolbar-active);
}

.theia-notebook-add-cell-button-icon {
    vertical-align: middle;
}

