/* FIXME when https://github.com/Microsoft/monaco-editor/issues/113#issuecomment-240406949 is fixed */
.monaco-editor .inputarea {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}

.monaco-editor {
    padding-top: 5.6px;
    padding-bottom: 5.6px;
    font-family: monospace !important;
    font-size: inherit !important;
}

/* 
 * set z-index to 0, so tabs are not above overlay widgets 
 */
.p-DockPanel-tabBar {
    z-index: 0;
}