/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/

:root {
  /* These need to be root because tabs get attached to the body during dragging. */
  --theia-private-horizontal-tab-height: 24px;
  --theia-private-horizontal-tab-width: 144px;
  --theia-private-horizontal-tab-active-top-border: 2px;
}


/*-----------------------------------------------------------------------------
| Tabs in the dock panel
|----------------------------------------------------------------------------*/

.p-DockPanel-tabBar {
  border-bottom: var(--theia-border-width) solid var(--theia-border-color1);
  overflow: visible;
  color: var(--theia-ui-font-color1);
  font-size: var(--theia-ui-font-size1);
}


.p-DockPanel-tabBar.p-mod-horizontal {
  min-height: calc(var(--theia-private-horizontal-tab-height) + 2 * var(--theia-border-width));
}


.p-DockPanel-tabBar.p-mod-vertical {
  min-width: 80px;
}


.p-DockPanel-tabBar > .p-TabBar-content {
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
}


.p-DockPanel-tabBar .p-TabBar-tab {
  flex: 0 1 var(--theia-private-horizontal-tab-width);
  min-height: calc(var(--theia-private-horizontal-tab-height) + var(--theia-border-width));
  min-width: 35px;
  margin-left: calc(-1*var(--theia-border-width));
  line-height: var(--theia-private-horizontal-tab-height);
  padding: 0px 8px;
  background: var(--theia-layout-color2);
  border: var(--theia-border-width) solid var(--theia-border-color1);
  border-bottom: none;
  position: relative;
  overflow: visible;
}


.p-DockPanel-tabBar .p-TabBar-tab:hover:not(.p-mod-current) {
  background: var(--theia-layout-color1);
}


.p-DockPanel-tabBar .p-TabBar-tab:first-child {
  margin-left: 0;
}

/* This is a current tab of a tab bar in the dock panel: each tab bar has 1. */
.p-DockPanel-tabBar .p-TabBar-tab.p-mod-current {
  background: var(--theia-layout-color0);
  color: var(--theia-ui-font-color0);
  min-height: calc(var(--theia-private-horizontal-tab-height) + 2 * var(--theia-border-width));
  transform: translateY(var(--theia-border-width));
}


/* This is the main application level active tab: only 1 exists. */
.p-DockPanel-tabBar .p-TabBar-tab.theia-mod-active:before {
  position: absolute;
  top: calc(-1 * var(--theia-border-width));
  left: calc(-1 * var(--theia-border-width));
  content: '';
  height: var(--theia-private-horizontal-tab-active-top-border);
  width: calc(100% + 2*var(--theia-border-width));
  background: var(--theia-brand-color1);
}


/* This is the left tab bar current tab: only 1 exists. */
.p-TabBar-tab.p-mod-current {
  background: var(--theia-layout-color0);
}


.p-TabBar-tab.p-mod-current:hover {
  background: var(--theia-layout-color1);
}


.p-DockPanel-tabBar .p-TabBar.p-mod-left .p-TabBar-tab,
.p-DockPanel-tabBar .p-TabBar.p-mod-right .p-TabBar-tab {
  flex: 0 1 40px;
  margin-top: -1px;
  line-height: 40px;
}


.p-DockPanel-tabBar .p-TabBar.p-mod-left .p-TabBar-tab {
  border-right: none;
}


.p-DockPanel-tabBar .p-TabBar.p-mod-right .p-TabBar-tab {
  border-left: none;
}


.p-DockPanel-tabBar .p-TabBar.p-mod-left .p-TabBar-tab:first-child,
.p-DockPanel-tabBar .p-TabBar.p-mod-right .p-TabBar-tab:first-child {
  margin-top: 0;
}


.p-DockPanel-tabBar .p-TabBar.p-mod-left .p-TabBar-tab.p-mod-current,
.p-DockPanel-tabBar .p-TabBar.p-mod-right .p-TabBar-tab.p-mod-current {
  min-width: 80px;
  max-width: 80px;
}


.p-DockPanel-tabBar .p-TabBar.p-mod-right .p-TabBar-tab.p-mod-current {
  transform: translateX(-1px);
}


.p-DockPanel-tabBar .p-TabBar-tabIcon,
.p-DockPanel-tabBar .p-TabBar-tabLabel,
.p-DockPanel-tabBar .p-TabBar-tabCloseIcon {
  display: inline-block;
}


.p-DockPanel-tabBar .p-TabBar-tabIcon {
  width: 14px;
  margin-top: 2px;
}
.p-TabBar-WindowTabLabel {
  margin-top: 4px;
}

.p-DockPanel-tabBar .p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon {
  margin-left: 4px;
  padding-top: 8px;
  background-size: 16px;
  height: 16px;
  width: 16px;
  background-image: url(../icons/close.svg);
  background-position: center;
  background-repeat: no-repeat;
}


.p-DockPanel-tabBar .p-TabBar-tab.p-mod-closable.theia-mod-dirty > .p-TabBar-tabCloseIcon {
  background-size: 10px;
  background-image: url(../icons/circle.svg);
}


.p-TabBar-tab.p-mod-drag-image {
  background: var(--theia-layout-color1);
  border: var(--theia-border-width) solid var(--theia-border-color1);
  border-top: var(--theia-border-width) solid var(--theia-brand-color1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: var(--theia-ui-font-color1);
  font-size: var(--theia-ui-font-size1);
  line-height: var(--theia-private-horizontal-tab-height);
  min-height: var(--theia-private-horizontal-tab-height);
  min-width: var(--theia-private-horizontal-tab-width);
  padding: 0px 10px;
  transform: translateX(-40%) translateY(-58%);
}
