.theia-git .commitListContainer .commitList .commitListElement {
    margin: 3px 0;
}

.theia-git .commitListElement {
    border-bottom: 1px solid var(--theia-layout-color4);
}

.theia-git .commitListElement .containerHead {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.theia-git .commitListElement .containerHead:hover {
    cursor: pointer;
}

.theia-git .commitListElement .containerHead .headContent {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px 0 2px;
}

.theia-git .commitListElement .containerHead .headContent .headLabelContainer{
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
}

.theia-git .commitListElement .containerHead .headContent .headLabelContainer.singleFileMode{
    width: 100%;
}

.theia-git .commitListElement .containerHead .headContent .expansionToggle{
    display: flex;
    align-items: center;
}

.theia-git .commitListElement .containerHead .headContent .expansionToggle > .toggle{
    display: flex;
    background: var(--theia-ui-expand-button-color);
    padding: 5px;
    border-radius: 7px;
    margin-left: 5px;
    align-items: center;
    justify-content: flex-end;
    min-width: 30px;
    color: var(--theia-ui-expand-button-font-color);
}

.theia-git .commitBody {
    padding-bottom: 10px;
}

.theia-git .commitFileList .theia-header {
    margin-top: 5px;
} 

.theia-git .commitTime {
    color: var(--theia-ui-font-color2);
    font-size: smaller;
}

.theia-git .git-diff-container .history-lazy-loading {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: -80px;
    opacity: 0;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--theia-layout-color1);
    border: var(--theia-border-width) var(--theia-border-color2) solid;
    box-sizing: border-box;
}

.theia-git .git-diff-container .history-lazy-loading.show {
    bottom: 0px;
    opacity:0;
    animation: showFrames ease-out 0.2s forwards;
    -webkit-animation: showFrames ease-out 0.2s forwards;
  }
  
  @keyframes showFrames{
    0% {
      opacity:0;
      bottom:-80px  ;
    }
    100% {
      opacity:1;
      bottom:0px;
    }
  }
  
.theia-git .git-diff-container .history-lazy-loading.hide {
    bottom: 80px;
    opacity:1;
    animation: hideFrames ease-out 0.2s forwards;
    -webkit-animation: hideFrames ease-out 0.2s forwards;
  }
  
  @keyframes hideFrames{
    0% {
      opacity:1;
      bottom:  0px  ;
    }
    100% {
      opacity:0;
      bottom: -80px  ;
    }
  }
  