/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */

/* Tomorrow Comment */
.theia-markdown-widget .hljs-comment,
.theia-markdown-widget .hljs-quote {
	color: #8e908c;
}

/* Tomorrow Red */
.theia-markdown-widget .hljs-variable,
.theia-markdown-widget .hljs-template-variable,
.theia-markdown-widget .hljs-tag,
.theia-markdown-widget .hljs-name,
.theia-markdown-widget .hljs-selector-id,
.theia-markdown-widget .hljs-selector-class,
.theia-markdown-widget .hljs-regexp,
.theia-markdown-widget .hljs-deletion {
	color: #c82829;
}

/* Tomorrow Orange */
.theia-markdown-widget .hljs-number,
.theia-markdown-widget .hljs-built_in,
.theia-markdown-widget .hljs-builtin-name,
.theia-markdown-widget .hljs-literal,
.theia-markdown-widget .hljs-type,
.theia-markdown-widget .hljs-params,
.theia-markdown-widget .hljs-meta,
.theia-markdown-widget .hljs-link {
	color: #f5871f;
}

/* Tomorrow Yellow */
.theia-markdown-widget .hljs-attribute {
	color: #eab700;
}

/* Tomorrow Green */
.theia-markdown-widget .hljs-string,
.theia-markdown-widget .hljs-symbol,
.theia-markdown-widget .hljs-bullet,
.theia-markdown-widget .hljs-addition {
	color: #718c00;
}

/* Tomorrow Blue */
.theia-markdown-widget .hljs-title,
.theia-markdown-widget .hljs-section {
	color: #4271ae;
}

/* Tomorrow Purple */
.theia-markdown-widget .hljs-keyword,
.theia-markdown-widget .hljs-selector-tag {
	color: #8959a8;
}

.theia-markdown-widget .hljs {
	display: block;
	overflow-x: auto;
	color: #4d4d4c;
	padding: 0.5em;
}

.theia-markdown-widget .hljs-emphasis {
	font-style: italic;
}

.theia-markdown-widget .hljs-strong {
	font-weight: bold;
}