.theia-TreeNodeCaption {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
}

.theia-ExpansionToggle.theia-mod-collapsed {
    background: url('../icons/collapse.svg') center center no-repeat;
}

.theia-ExpansionToggle:not(.theia-mod-collapsed) {
    background: url('../icons/expand.svg') center center no-repeat;
}