/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/


:root {
  --theia-private-sidebar-tab-width: 32px;
}

/*-----------------------------------------------------------------------------
| SideBar
|----------------------------------------------------------------------------*/


.theia-SideBar.p-TabBar {
  color: var(--theia-ui-font-color1);
  background: var(--theia-layout-color2);
  font-size: var(--theia-ui-font-size1);
  min-width: calc(var(--theia-private-sidebar-tab-width) + var(--theia-border-width));
  max-width: calc(var(--theia-private-sidebar-tab-width) + var(--theia-border-width));
  overflow: visible;
  display: block;
}


.theia-SideBar.p-TabBar.theia-mod-left {
  border-right: var(--theia-border-width) solid var(--theia-border-color1);
}


.theia-SideBar.p-TabBar.theia-mod-right {
  border-left: var(--theia-border-width) solid var(--theia-border-color1);
}


.theia-SideBar .p-TabBar-content,
.theia-SideBar .p-TabBar-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  list-style-type: none;
  height: var(--theia-private-sidebar-tab-width);
  transform-origin: 0 0 0;
}


.theia-SideBar.theia-mod-left .p-TabBar-content {
  flex-direction: row-reverse;
  transform: rotate(-90deg) translateX(-100%);
}


.theia-SideBar.theia-mod-right .p-TabBar-content {
  flex-direction: row;
  transform: rotate(90deg) translateY(-100%);
}


.theia-SideBar .p-TabBar-tab {
  padding: 0 18px;
  background: var(--theia-layout-color2);
  border: none;
  overflow: visible;
}


.theia-SideBar .p-TabBar-tabLabel {
  line-height: var(--theia-private-sidebar-tab-width);
}


.theia-SideBar .p-TabBar-tab:hover:not(.p-mod-current) {
  background: var(--theia-layout-color1);
}


.theia-SideBar.theia-mod-left .p-TabBar-tab {
  border-left: var(--theia-border-width) solid var(--theia-border-color1);
}


.theia-SideBar.theia-mod-right .p-TabBar-tab {
  border-right: var(--theia-border-width) solid var(--theia-border-color1);
}


#theia-left-stack > .p-Widget, #theia-right-stack > .p-Widget {
  min-width: 300px;
}


#theia-right-stack {
  border-left: var(--theia-border-width) solid var(--theia-border-color1);
}


#theia-left-stack {
  border-right: var(--theia-border-width) solid var(--theia-border-color1);
}
