.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #C0C0C0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.content > div {
  flex: 1 1 auto;
  border: 1px solid #505050;
  overflow: auto;
}


.content  input {
  margin: 8px;
}


.red > div {
  background: #E74C3C;
}


.yellow > div {
  background: #F1C40F;
}


.green > div {
  background: #27AE60;
}


.blue > div {
  background: #3498DB;
}
