.p-TabBar {
  min-height: 24px;
  max-height: 24px;
}


.p-TabBar-content {
  min-width: 0;
  min-height: 0;
  align-items: flex-end;
  border-bottom: 1px solid #C0C0C0;
}


.p-TabBar-tab {
  padding: 0px 10px;
  background: #E5E5E5;
  border: 1px solid #C0C0C0;
  border-bottom: none;
  font: 12px Helvetica, Arial, sans-serif;
  flex: 0 1 125px;
  min-height: 20px;
  max-height: 20px;
  min-width: 35px;
  margin-left: -1px;
  line-height: 20px;
}


.p-TabBar-tab.p-mod-current {
  background: white;
}


.p-TabBar-tab:hover:not(.p-mod-current) {
  background: #F0F0F0;
}


.p-TabBar-tab:first-child {
  margin-left: 0;
}


.p-TabBar-tab.p-mod-current {
  min-height: 23px;
  max-height: 23px;
  transform: translateY(1px);
}


.p-TabBar-tabIcon,
.p-TabBar-tabLabel,
.p-TabBar-tabCloseIcon {
  display: inline-block;
}


.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon {
  margin-left: 4px;
}


.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon:before {
  content: '\f00d';
  font-family: FontAwesome;
}


.p-TabBar-tab.p-mod-drag-image {
  min-height: 23px;
  max-height: 23px;
  min-width: 125px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateX(-40%) translateY(-58%);
}
