.summary-view-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    padding: 16px;
}

.summary-view-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    padding: 0px;
}

.build-result-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    padding: 12px;
}

.build-result-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    padding: 0px;
}
