:root {
    --theia-debug-start: url('start.svg');
    --theia-debug-stop: url('stop.svg');
    --theia-debug-restart: url('restart.svg');
    --theia-debug-pause: url('pause.svg');
    --theia-debug-continue: url('continue.svg');
    --theia-debug-step-over: url('step-over.svg');
    --theia-debug-step-into: url('step-into.svg');
    --theia-debug-step-out: url('step-out.svg');
    --theia-debug-configure: url('configure.svg');
    --theia-debug-repl: url('repl.svg');
    --breakpoints-activate-url: url('breakpoints-activate.svg');
}
