:root {
    --theia-debug-start: url('start-inverse.svg');
    --theia-debug-stop: url('stop-inverse.svg');
    --theia-debug-restart: url('restart-inverse.svg');
    --theia-debug-pause: url('pause-inverse.svg');
    --theia-debug-continue: url('continue-inverse.svg');
    --theia-debug-step-over: url('step-over-inverse.svg');
    --theia-debug-step-into: url('step-into-inverse.svg');
    --theia-debug-step-out: url('step-out-inverse.svg');
    --theia-debug-configure: url('configure-inverse.svg');
    --theia-debug-repl: url('repl-inverse.svg');
    --breakpoints-activate-url: url('breakpoints-activate-inverse.svg');
}
