.p-Widget.dialogOverlay {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1,1,1,0.5);
    position: fixed;
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    padding: 2px;
}
.p-Widget.dialogOverlay .dialogBlock {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 150px;
    background-color: var(--theia-layout-color3);
    border: 1px solid var(--theia-border-color1);
}
.p-Widget.dialogOverlay .dialogTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: var(--theia-ui-font-size1);
    background-color: var(--theia-layout-color2);
    padding: 0 calc(var(--theia-ui-padding)*2);
    height: 28px;
}
.p-Widget.dialogOverlay .dialogClose {
    flex-grow: 0;
    pointer-events: auto;
    cursor: pointer;
    margin-left: 4px;
    padding-top: 8px;
    background-size: 16px;
    height: 16px;
    width: 16px;
    background-image: var(--theia-icon-close);
    background-position: center;
    background-repeat: no-repeat;
}
.p-Widget.dialogOverlay .dialogContent {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    padding: calc(var(--theia-ui-padding)*2);
}

.p-Widget.dialogOverlay .dialogControl {
    padding: calc(var(--theia-ui-padding)*2);
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-content: right;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

input {
    font-size: var(--theia-ui-font-size1);
    line-height: var(--theia-content-line-height);
    border-width: 1px;
    border-style: solid;
    border-color: var(--theia-border-color1);
    background: var(--theia-layout-color0);
    color: var(--theia-ui-font-color1);
    padding-left: 5px;
}

.dialogOverlay :focus {
  box-shadow: 0px 0px 1px 1px var(--theia-accent-color3);
  outline: none;
}

.p-Widget.dialogOverlay .dialogButton {
    border: 1px solid var(--theia-border-color1);
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    border-radius: 0;
    background-color: var(--theia-layout-color4);
    min-width: 70px;
    outline: none;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: calc(var(--theia-ui-padding)*2);
}

.p-Widget.dialogOverlay select {
    border: 1px solid var(--theia-border-color1);
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    border-radius: 0;
    background: transparent;
    outline: none;    
}

.p-Widget.dialogOverlay .dialogButton.main {
    background-color: var(--theia-accent-color3);
}
.p-Widget.dialogOverlay .dialogButton[disabled] {
    background-color: var(--theia-disabled-color1);
    cursor: default;
}

.p-Widget.dialogOverlay.hidden {
    display: none;
}
.p-Widget.dialogOverlay.dialogErrorMessage {
    display: none;
}
.p-Widget.dialogOverlay .error {
    color: var(--theia-error-color1);
}
.p-Widget.dialogOverlay .error.main {
    color: var(--theia-error-color1);
    border-color: var(--theia-error-color1);
}
.p-Widget.dialogOverlay .error > .dialogButton.main {
    background-color: var(--theia-error-color1);
    color: var(--theia-ui-font-color1);
}
.p-Widget.dialogOverlay .error > .dialogErrorMessage {
    margin-top: calc(var(--theia-ui-padding)*3);
    font-size: var(--theia-ui-font-size1);
    display: block;
}