/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
| DockPanel
|----------------------------------------------------------------------------*/


.p-DockPanel-widget {
  background: var(--theia-layout-color3);
  min-width: 100px;
  min-height: 100px;
}

.p-DockPanel-handle[data-orientation='vertical'] {
  min-height: var(--theia-border-width);
  border-top: var(--theia-border-width) solid var(--theia-border-color1);
}

.p-DockPanel-handle[data-orientation='horizontal'] {
  min-width: var(--theia-border-width);
  border-left: var(--theia-border-width) solid var(--theia-border-color1);
}

.p-DockPanel-overlay {
  background: rgba(33, 150, 243, 0.1);
  border: var(--theia-border-width) dashed var(--theia-brand-color1);
  transition-property: top, left, right, bottom;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.p-DockPanel-overlay.p-mod-root-top,
.p-DockPanel-overlay.p-mod-root-left,
.p-DockPanel-overlay.p-mod-root-right,
.p-DockPanel-overlay.p-mod-root-bottom,
.p-DockPanel-overlay.p-mod-root-center {
  border-width: 2px;
}


#theia-main-content-panel {
  padding: 0px;
}
