@import url('~@phosphor/widgets/style/index.css');
@import url('~font-awesome/css/font-awesome.min.css');

/*-----------------------------------------------------------------------------
| General
|----------------------------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--theia-ui-font-family);
  background: var(--theia-layout-color3);
  background-image: var(--theia-preloader);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.theia-ApplicationShell {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--theia-layout-color3);
}

.theia-icon {
  width: 18px;
  height: 18px;
  margin: 5px;
  margin-left: 8px;
}

.theia-mod-disabled {
  opacity: 0.4;
}

.theia-header {
  text-transform: uppercase;
  font-size: var(--theia-ui-font-size0);
  font-weight: 800;
  margin: 10px 0 5px 0;
}

.p-Widget {
  font-size: var(--theia-ui-font-size1);
}

.p-Widget.p-mod-hidden {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.theia-button {
  border: 1px solid var(--theia-border-color1);
  font-size: var(--theia-ui-font-size1);
  border-radius: 0;
  color: var(--theia-ui-button-font-color);
  background-color: var(--theia-ui-button-color);
  min-width: 70px;
  outline: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: calc(var(--theia-ui-padding)*2);
}

.theia-button.secondary {
  color: var(--theia-ui-button-font-color-secondary);
  background-color: var(--theia-ui-button-color-secondary);
}

.theia-button[disabled] {
  color: var(--theia-ui-button-font-color-disabled);
  background-color: var(--theia-ui-button-color-disabled);
  cursor: default;
}

/*-----------------------------------------------------------------------------
| Import children style files
|----------------------------------------------------------------------------*/

@import './dockpanel.css';
@import './dialog.css';
@import './menus.css';
@import './sidepanel.css';
@import './tabs.css';
@import './materialcolors.css';
@import './scrollbars.css';
@import './tree.css';
@import './status-bar.css';
@import './decorators.css';