/*-----------------------------------------------------------------------------
| Variables
|----------------------------------------------------------------------------*/

:root {
  --theia-private-sidebar-tab-width: 32px;
}


/*-----------------------------------------------------------------------------
| SideBars (left and right)
|----------------------------------------------------------------------------*/

.p-TabBar.theia-app-sides {
  display: block;
  color: var(--theia-ui-font-color1);
  background: var(--theia-layout-color0);
  font-size: var(--theia-ui-font-size1);
  min-width: var(--theia-private-sidebar-tab-width); 
  max-width: var(--theia-private-sidebar-tab-width);
}

.p-TabBar.theia-app-sides .p-TabBar-tab {
  position: relative;
  padding: 12px 8px;
  background: var(--theia-layout-color0);
  border: none;
}

.p-TabBar.theia-app-sides .p-TabBar-tab.p-mod-current {
  color: var(--theia-ui-font-color0);
  background: var(--theia-layout-color3);
}

.p-TabBar.theia-app-sides .p-TabBar-tab:hover:not(.p-mod-current) {
  background: var(--theia-layout-color1);
}

.p-TabBar.theia-app-sides .p-TabBar-tabIcon,
.p-TabBar.theia-app-sides .p-TabBar-tabCloseIcon {
  display: none;
}

.p-TabBar.theia-app-sides .p-TabBar-tabLabel {
  position: absolute;
  min-height: var(--theia-private-sidebar-tab-width);
  max-height: var(--theia-private-sidebar-tab-width);
}

.p-TabBar.theia-app-sides .p-TabBar-tabIcon {
  position: absolute;
  transform: scale(1.5) translate(3px,1px);
  max-height: 15px;
}

.p-TabBar.theia-app-left .p-TabBar-tabLabel {
  transform-origin: top left 0;
  transform: rotate(-90deg) translateX(-100%);
}

.p-TabBar.theia-app-right .p-TabBar-tabLabel {
  transform-origin: top left 0;
  transform: rotate(90deg) translateY(-50%);
}

#theia-left-content-panel.theia-mod-collapsed,
#theia-right-content-panel.theia-mod-collapsed {
  max-width: var(--theia-private-sidebar-tab-width);
}

#theia-left-side-panel {
  border-right: var(--theia-border-width) solid var(--theia-border-color1);
}

#theia-right-side-panel {
  border-left: var(--theia-border-width) solid var(--theia-border-color1);
}


/*-----------------------------------------------------------------------------
| Bottom content panel
|----------------------------------------------------------------------------*/

#theia-bottom-content-panel {
  border-top: var(--theia-border-width) solid var(--theia-border-color1);
}


/*-----------------------------------------------------------------------------
| Hidden tab bars used for rendering vertical side bars
|----------------------------------------------------------------------------*/

.theia-TabBar-hidden-content {
  display: flex;
  position: absolute;
  visibility: hidden;
}

.p-TabBar.theia-app-sides .theia-TabBar-hidden-content .p-TabBar-tab {
  line-height: var(--theia-private-sidebar-tab-width);
}

.p-TabBar.theia-app-left .theia-TabBar-hidden-content .p-TabBar-tabLabel {
  transform: none;
}

.p-TabBar.theia-app-right .theia-TabBar-hidden-content .p-TabBar-tabLabel {
  transform: none;
}
