/*
The following CSS variables define the main public API for styling Theia.
These variables should be used by all extensions wherever possible. In other
words, extensions should not define custom colors, sizes, etc. unless
absolutely necessary. This enables users to adapt the visual theme of Theia
by changing these variables.

Many variables appear in ordered sequences (0,1,2,...). For most of these
sequences, colors go from dark to bright for dark themes, and from bright to
dark for bright themes. A few sequences are used to create contrast against
the others, e.g. font and accent colors, and thus their brightness goes the
other way around.

Throughout Theia, we are mostly following principles from Google's Material
Design when selecting colors. We are not, however, following all of MD as it
is not optimized for dense, information rich UIs.
*/


:root {

  /* Borders: Width and color (dark to bright) */

  --theia-border-width: 1px;
  --theia-panel-border-width: 2px;
  --theia-border-color0: var(--md-grey-900);
  --theia-border-color1: var(--md-grey-800);
  --theia-border-color2: var(--md-grey-600);
  --theia-border-color3: var(--md-grey-400);


  /* UI fonts: Family, size and color (bright to dark)
    ---------------------------------------------------
     The UI font CSS variables are used for the typography all of the Theia
     user interface elements that are not directly user-generated content.
  */

  --theia-ui-font-scale-factor: 1.2;
  --theia-ui-font-size0: calc(var(--theia-ui-font-size1) / var(--theia-ui-font-scale-factor));
  --theia-ui-font-size1: 13px; /* Base font size */
  --theia-ui-font-size2: calc(var(--theia-ui-font-size1) * var(--theia-ui-font-scale-factor));
  --theia-ui-font-size3: calc(var(--theia-ui-font-size2) * var(--theia-ui-font-scale-factor));
  --theia-ui-icon-font-size: 14px; /* Ensures px perfect FontAwesome icons */
  --theia-ui-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --theia-ui-font-color0: var(--md-grey-100);
  --theia-ui-font-color1: var(--md-grey-300);
  --theia-ui-font-color2: var(--md-grey-500);
  --theia-ui-font-color3: var(--md-grey-700);

  /* Special font colors */

  --theia-ui-icon-font-color: #d4d4d4;
  --theia-ui-bar-font-color0: #eeeeee;
  --theia-ui-bar-font-color1: #d4d4d4;

  /* Use the inverse UI colors against the brand/accent/warn/error colors. */

  --theia-inverse-ui-font-color0: rgba(0,0,0,1.0);
  --theia-inverse-ui-font-color2: rgba(0,0,0,0.7);
  --theia-inverse-ui-font-color3: rgba(0,0,0,0.5);

  /* Content fonts: Family, size and color (bright to dark)
     Content font variables are used for typography of user-generated content.
  */

  --theia-content-font-size: 13px;
  --theia-content-line-height: 1.5;
  --theia-content-font-color0: white;
  --theia-content-font-color1: white;
  --theia-content-font-color2: var(--md-grey-500);
  --theia-content-font-color3: var(--md-grey-700);

  --theia-code-font-size: 13px;
  --theia-code-line-height: 17px;
  --theia-code-padding: 5px;
  --theia-code-font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
  --theia-terminal-font-family: monospace;
  --theia-ui-padding: 6px;

  /* Tab Colors */
  --theia-tab-icon-color: rgb(255, 255, 255);
  --theia-tab-font-color: #FFF;

  /* Main layout colors (dark to bright)
    ------------------------------------ */

  --theia-layout-color0: #1d1d1d;
  --theia-layout-color1: #252526;
  --theia-layout-color2: #333333;
  --theia-layout-color3: #383838;
  --theia-layout-color4: #383838;

  /* Brand colors */

  --theia-brand-color0: var(--md-blue-700);
  --theia-brand-color1: var(--md-blue-500);
  --theia-brand-color2: var(--md-blue-300);
  --theia-brand-color3: var(--md-blue-100);

  /* Secondary Brand colors */

  --theia-secondary-brand-color0: var(--md-grey-700);
  --theia-secondary-brand-color1: var(--md-grey-600);
  --theia-secondary-brand-color2: var(--md-grey-400);
  --theia-secondary-brand-color3: var(--md-grey-200);

  /* Accent colors (bright to dark): Use these to create contrast to layout colors. */

  --theia-accent-color0: var(--md-light-blue-300);
  --theia-accent-color1: #259fd8;
  --theia-accent-color2: #217daf;
  --theia-accent-color3: #265f8a;
  --theia-accent-color4: #24455e;

  /* Accent colors with opacity */

  --theia-transparent-accent-color0: hsla(199, 71%, 50%, 0.3);
  --theia-transparent-accent-color1: hsla(201, 68%, 41%, 0.3);
  --theia-transparent-accent-color2: hsla(206, 57%, 35%, 0.3);
  --theia-transparent-accent-color3: hsla(206, 45%, 25%, 0.3);

  /* State colors (warn, error, success, info)
    ------------------------------------------ */

  --theia-warn-color0: var(--md-amber-600);
  --theia-warn-color1: var(--md-amber-500);
  --theia-warn-color2: var(--md-amber-400);
  --theia-warn-color3: var(--md-amber-300);

  --theia-warn-font-color0: var(--md-grey-900);

  --theia-error-color0: var(--md-red-700);
  --theia-error-color1: var(--md-red-500);
  --theia-error-color2: var(--md-red-300);
  --theia-error-color3: var(--md-red-100);

  --theia-error-font-color0: var(--md-grey-300);

  --theia-success-color0: var(--md-green-700);
  --theia-success-color1: var(--md-green-500);
  --theia-success-color2: var(--md-green-300);
  --theia-success-color3: var(--md-green-100);

  --theia-success-font-color0: var(--md-grey-300);

  --theia-info-color0: var(--md-cyan-700);
  --theia-info-color1: var(--md-cyan-500);
  --theia-info-color2: var(--md-cyan-300);
  --theia-info-color3: var(--md-cyan-100);

  --theia-info-font-color0: var(--md-grey-300);

  --theia-disabled-color0: var(--md-grey-700);
  --theia-disabled-color1: var(--md-grey-500);
  --theia-disabled-color2: var(--md-grey-300);
  --theia-disabled-color3: var(--md-grey-100);

  --theia-added-color0: rgba(0, 255, 0, 0.8);
  --theia-removed-color0: rgba(230, 0, 0, 0.8);
  --theia-modified-color0: rgba(0, 100, 150, 0.8);

  /* Background for selected text */
  --theia-selected-text-background: var(--theia-accent-color2);

  /* Colors to highlight words in widgets like tree or editors */

  --theia-word-highlight-color0: rgba(81, 92, 106, 0.7);
  --theia-word-highlight-color1: rgba(255, 255, 255, 0.04);
  --theia-word-highlight-match-color0: rgba(234, 92, 0, 0.33);
  --theia-word-highlight-match-color1: rgba(234, 92, 0, 0.5);
  --theia-word-highlight-replace-color0: rgba(155, 185, 85, 0.2);

  /* Icons */
  --theia-icon-close: url(../icons/close-dark.svg);
  --theia-sprite-y-offset: -20px;
  --theia-icon-circle: url(../icons/circle-dark.svg);
  --theia-preloader: url(../icons/spinner.gif);
  --theia-icon-case-sensitive: url(../icons/case-sensitive-dark.svg);
  --theia-icon-regex: url(../icons/regex-dark.svg);
  --theia-icon-whole-word: url(../icons/whole-word-dark.svg);
  --theia-icon-refresh: url(../icons/Refresh_inverse.svg);
  --theia-icon-collapse-all: url(../icons/CollapseAll_inverse.svg);
  --theia-icon-clear: url(../icons/clear-search-results-dark.svg);
  --theia-icon-replace: url(../icons/replace-inverse.svg);
  --theia-icon-replace-all: url(../icons/replace-all-inverse.svg);
  --theia-icon-open-file: url(../icons/open-file-dark.svg);
  --theia-icon-open-change: url(../icons/open-change-dark.svg);
  --theia-icon-preview: url(../icons/preview-dark.svg);

  /* Scrollbars */
  --theia-scrollbar-width: 10px;
  --theia-scrollbar-rail-width: 10px;
  --theia-scrollbar-thumb-color: hsla(0,0%,39%,.4);
  --theia-scrollbar-rail-color: transparent;
  --theia-scrollbar-active-thumb-color: hsla(0,0%,61%,.4);
  --theia-scrollbar-active-rail-color: transparent;

  /* Menu */
  --theia-menu-color0: var(--theia-layout-color4);
  --theia-menu-color1: var(--theia-layout-color4);
  --theia-menu-color2: var(--theia-layout-color1);

  /* Statusbar */
  --theia-statusbar-color: var(--theia-brand-color0);
  --theia-statusBar-font-color: var(--theia-ui-font-color0);
  --theia-statusBar-font-size: 12px;

  /* Buttons */
  --theia-ui-button-color: var(--theia-brand-color0);
  --theia-ui-button-color-hover: var(--theia-brand-color1);
  --theia-ui-button-font-color: var(--theia-ui-font-color1);
  --theia-ui-button-color-secondary: var(--theia-secondary-brand-color0);
  --theia-ui-button-color-secondary-hover: var(--theia-secondary-brand-color1);
  --theia-ui-button-font-color-secondary: var(--theia-ui-font-color1);
  --theia-ui-button-color-disabled: var(--theia-accent-color3);
  --theia-ui-button-font-color-disabled: var(--theia-ui-font-color2);
  --theia-ui-button-color-secondary-disabled: var(--theia-disabled-color0);
  --theia-ui-button-font-color-secondary-disabled: var(--theia-ui-font-color2);

  /* Expand/collapse element */
  --theia-ui-expand-button-color: black;
  --theia-ui-expand-button-font-color: var(--theia-ui-font-color1);

  /* Dialogs */
  --theia-ui-dialog-header-color: var(--theia-brand-color0);
  --theia-ui-dialog-header-font-color: var(--theia-ui-font-color1);
  --theia-ui-dialog-color: var(--theia-layout-color4);
  --theia-ui-dialog-font-color: var(--theia-ui-font-color1);

  /* Variables */
  --theia-variable-name-color: #C586C0;
  --theia-variable-value-color: rgba(204, 204, 204, 0.6);
  --theia-number-variable-color: #B5CEA8;
  --theia-boolean-variable-color: #4E94CE;
  --theia-string-variable-color: #CE9178;

  /* ANSI color */
  --theia-ansi-black-color: #A0A0A0;
  --theia-ansi-red-color: #A74747;
  --theia-ansi-green-color: #348F34;
  --theia-ansi-yellow-color: #5F4C29;
  --theia-ansi-blue-color: #6286BB;
  --theia-ansi-magenta-color: #914191;
  --theia-ansi-cyan-color: #218D8D;
  --theia-ansi-white-color: #707070;

  /* ANSI background color */
  --theia-ansi-black-background-color: #A0A0A0;
  --theia-ansi-red-background-color: #A74747;
  --theia-ansi-green-background-color: #348F34;
  --theia-ansi-yellow-background-color: #5F4C29;
  --theia-ansi-blue-background-color: #6286BB;
  --theia-ansi-magenta-background-color: #914191;
  --theia-ansi-cyan-background-color: #218D8D;
  --theia-ansi-white-background-color: #707070;

}
