/*
The following CSS variables define the main, public API for styling Theia.
These variables should be used by all plugins wherever possible. In other
words, plugins should not define custom colors, sizes, etc unless absolutely
necessary. This enables users to change the visual theme of Theia
by changing these variables.

Many variables appear in an ordered sequence (0,1,2,3). These sequences
are designed to work well together, so for example, `--theia-border-color1` should
be used with `--theia-layout-color1`. The numbers have the following meanings:

* 0: super-primary, reserved for special emphasis
* 1: primary, most important under normal situations
* 2: secondary, next most important under normal situations
* 3: tertiary, next most important under normal situations

Throughout Theia, we are mostly following principles from Google's
Material Design when selecting colors. We are not, however, following
all of MD as it is not optimized for dense, information rich UIs.
*/


:root {

  /* Borders

  The following variables, specify the visual styling of borders in Theia.
   */

  --theia-border-width: 1px;
  --theia-border-color0: var(--md-grey-500);
  --theia-border-color1: var(--md-grey-300);
  --theia-border-color2: var(--md-grey-200);
  --theia-border-color3: var(--md-grey-100);

  /* UI Fonts

  The UI font CSS variables are used for the typography all of the Theia
  user interface elements that are not directly user generated content.
  */

  --theia-ui-font-scale-factor: 1.2;
  --theia-ui-font-size0: calc(var(--theia-ui-font-size1)/var(--theia-ui-font-scale-factor));
  --theia-ui-font-size1: 13px; /* Base font size */
  --theia-ui-font-size2: calc(var(--theia-ui-font-size1)*var(--theia-ui-font-scale-factor));
  --theia-ui-font-size3: calc(var(--theia-ui-font-size2)*var(--theia-ui-font-scale-factor));
  --theia-ui-icon-font-size: 14px; /* Ensures px perfect FontAwesome icons */
  --theia-ui-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Use these font colors against the corresponding main layout colors.
     In a light theme, these go from dark to light.
  */

  --theia-ui-font-color0: var(--md-grey-900);
  --theia-ui-font-color1: var(--md-grey-700);
  --theia-ui-font-color2: var(--md-grey-400);
  --theia-ui-font-color3: var(--md-grey-300);
  --theia-ui-font-color4: var(--md-grey-200);
  --theia-ui-font-color5: var(--md-grey-100);

  /* Special font colors */
  --theia-ui-icon-font-color: #FFFFFF;
      
  --theia-ui-bar-font-color0: var(--theia-ui-font-color0);
  --theia-ui-bar-font-color1: var(--theia-ui-font-color1);

  /* Use these against the brand/accent/warn/error colors.
     These will typically go from light to darker, in both a dark and light theme
   */

  --theia-inverse-ui-font-color0: rgba(255,255,255,1);
  --theia-inverse-ui-font-color1: rgba(255,255,255,1.0);
  --theia-inverse-ui-font-color2: rgba(255,255,255,0.7);
  --theia-inverse-ui-font-color3: rgba(255,255,255,0.5);

  /* Content Fonts

  Content font variables are used for typography of user generated content.
  */

  --theia-content-font-size: 13px;
  --theia-content-line-height: 1.5;
  --theia-content-font-color0: black;
  --theia-content-font-color1: black;
  --theia-content-font-color2: var(--md-grey-700);
  --theia-content-font-color3: var(--md-grey-500);

  --theia-code-font-size: 13px;
  --theia-code-line-height: 17px;
  --theia-code-padding: 5px;
  --theia-code-font-family: monospace;
  --theia-ui-padding: 6px;


  /* Layout

  The following are the main layout colors use in Theia. In a light
  theme these would go from light to dark.
  */

  --theia-layout-color0: var(--md-blue-grey-50);
  --theia-layout-color1: #fff;
  --theia-layout-color2: var(--md-blue-grey-200);
  --theia-layout-color3: #fff;
  --theia-layout-color4: var(--md-blue-grey-600);
  --theia-layout-color5: var(--md-blue-grey-50);
  --theia-layout-color6: var(--md-blue-grey-50);
  --theia-layout-color7: #333333;

  /* Brand/accent */

  --theia-brand-color0: var(--md-blue-700);
  --theia-brand-color1: var(--md-blue-500);
  --theia-brand-color2: var(--md-blue-300);
  --theia-brand-color3: var(--md-blue-100);

  --theia-accent-color0: var(--md-blue-900);
  --theia-accent-color1: var(--md-blue-700);
  --theia-accent-color2: var(--md-blue-500);
  --theia-accent-color3: var(--md-blue-100);
  --theia-accent-color4: var(--md-grey-200);
  --theia-accent-color5: var(--md-grey-200);
  
  /* State colors (warn, error, success, info) */

  --theia-warn-color0: var(--md-amber-500);
  --theia-warn-color1: var(--md-amber-400);
  --theia-warn-color2: var(--md-amber-300);
  --theia-warn-color3: var(--md-amber-200);

  --theia-error-color0: var(--md-red-400);
  --theia-error-color1: var(--md-red-300);
  --theia-error-color2: var(--md-red-200);
  --theia-error-color3: var(--md-red-100);

  --theia-success-color0: var(--md-green-500);
  --theia-success-color1: var(--md-green-300);
  --theia-success-color2: var(--md-green-100);
  --theia-success-color3: var(--md-green-50);

  --theia-info-color0: var(--md-cyan-700);
  --theia-info-color1: var(--md-cyan-500);
  --theia-info-color2: var(--md-cyan-300);
  --theia-info-color3: var(--md-cyan-100);

  --theia-disabled-color0: var(--md-blue-grey-500);
  --theia-disabled-color1: var(--md-blue-grey-300);
  --theia-disabled-color2: var(--md-blue-grey-200);
  --theia-disabled-color3: var(--md-blue-grey-50);

  --theia-added-color0: rgba(0, 255, 0, 0.8);
  --theia-removed-color0: rgba(230, 0, 0, 0.8);
  --theia-modified-color0: rgba(0, 100, 150, 0.8);

  /* icons */
  --theia-icon-close: url(../icons/close-bright.svg);
  --theia-sprite-y-offset: 0px;
  --theia-icon-circle: url(../icons/circle-bright.svg);
  --theia-preloader: url(../icons/spinner.gif);

  /* scrollbars */
  --theia-scrollbar-width: 6px;
  --theia-scrollbar-rail-width: 10px;
  --theia-scrollbar-thumb-color: hsla(0,0%,61%,.4);
  --theia-scrollbar-rail-color: transparent;
  --theia-scrollbar-active-thumb-color: hsla(0,0%,39%,.4);
  --theia-scrollbar-active-rail-color: transparent;

  /* statusbar */
  --theia-statusbar-color: var(--theia-brand-color0);
  --theia-statusBar-font-color: var(--theia-inverse-ui-font-color1);
  --theia-statusBar-font-size: 12px;

  /* buttons */
  --theia-ui-button-color: var(--theia-brand-color1);
  --theia-ui-button-font-color: var(--theia-inverse-ui-font-color1);
  --theia-ui-button-color-secondary: var(--theia-accent-color5);
  --theia-ui-button-font-color-secondary: var(--theia-ui-font-color1);
  --theia-ui-button-color-disabled: var(--theia-accent-color5);
  --theia-ui-button-font-color-disabled: var(--theia-ui-font-color3);

  /* expand/collapse element */
  --theia-ui-expand-button-color: var(--theia-accent-color4);
  --theia-ui-expand-button-font-color: var(--theia-ui-font-color1);
  
  /* dialogs */
  --theia-ui-dialog-header-color: var(--theia-brand-color1);
  --theia-ui-dialog-header-font-color: var(--theia-inverse-ui-font-color1);
  --theia-ui-dialog-color: var(--theia-layout-color1);
  --theia-ui-dialog-font-color: var(--theia-ui-font-color1);
}
